@charset "UTF-8";

/* ######
   Variáveis
############ */

/* Cores */

$cinza: #84888C;
$cinzaFundo: #F6F9FC;
$azulClaro: #0285C9;
$azulEscuro: #132E58;

/* Fontes */

$roboto: 'Roboto', sans-serif;

/* ######
   Mixins
############ */

/* Responsivo */

@mixin device($device) {
	@if $device == 'xl' {
		@media (max-width: 1399px) {
			@content;
		}
	} @else if $device == 'lg' {
		@media (max-width: 1199px) {
			@content;
		}
	} @else if $device == 'md' {
		@media (max-width: 991px) {
			@content;
		}
	} @else if $device == 'sm' {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $device == 'xs' {
		@media (max-width: 575px) {
			@content;
		}
	}
}

/* Texto */

@mixin texto($modelo) {
	@if $modelo == 'tituloPrincipal' {
		color: $azulEscuro;
		font-size: 42px;
		font-weight: 400;
		line-height: 120%;
		margin: 0 0 15px;
		@include device('xs') {
			font-size: 30px;
		}
	} @else if $modelo == "tituloSecundario" {
		color: $azulEscuro;
		font-size: 32px;
		line-height: 130%;
		margin: 0 0 10px;
	} @else if $modelo == "tituloSecundarioBranco" {
		color: #FFF;
		font-size: 32px;
		line-height: 130%;
		margin: 0 0 10px;
	} @else if $modelo == "subtitulo" {
		color: $azulEscuro;
		font-size: 22px;
		line-height: 130%;
		max-width: 280px;
		margin: 24px auto 16px;
	} @else if $modelo == "paragrafo" {
		color: $cinza;
		font-size: 16px;
		line-height: 150%;
		margin: 0 0 16px;
	} @else if $modelo == "paragrafoBranco" {
		color: #FFF;
		font-size: 16px;
		line-height: 150%;
		margin: 0 0 16px;
	} @else if $modelo == "paragrafoComplemento" {
		color: $azulClaro;
		font-size: 16px;
		line-height: 150%;
		display: block;
	} @else if $modelo == "paragrafoComplementoBranco" {
		color: #FFF;
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0.03em;
		display: block;
		margin: 15px 0 0;
	}
}

/* Botões */

@mixin botao($modelo) {
	color: #FFF;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: .03em;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 40px;
	transition: .3s;
	border-radius: 5px;
	&:hover {
		opacity: .8;
	}
	@if $modelo == "azulClaro" {
		background: $azulClaro;
	} @else if $modelo = "azulEscuro" {
		background: $azulEscuro;
	}
}
